.custom-cursor {
    position: fixed;
    opacity: 0;
    pointer-events: none;
    mix-blend-mode: difference;
    width: 160px;
    height: 160px;
    border-radius: 50%;
    background-color: white;
    transition: transform 350ms ease;
    transform: translate(-50%, -50%) scale(.3);
    z-index: 99999999999999;

    @media (max-width:400px) {
      display: none;
      
    }
  }

  .custom-cursor--link {
    transform: translate(-50%, -50%) scale(0.5);
    z-index: 99999999999999;
  }

  